html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}


$border: none;
$gradient:0;
$right-nav-color: #8FCFEB;
$border-color:black;

@mixin list-style{
    text-decoration: none;
    list-style-type: none;
color: white;
}

@mixin parent-flex($direction, $wrap){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: $direction; 
    flex-wrap: $wrap;
    text-decoration: none;
    width: 100%;
    padding: 0%;
    margin-top: 0%;


}

@mixin nav-item{
    display: flex;
    align-items:center;
    flex-wrap: wrap;

}

@mixin container{
    display: flex;
    flex-direction: column;
    border: $border; 
    /*height: 100%;*/
    height:90vh;

}


@mixin side-bar{
    @include parent-flex(column, nowrap);    
    justify-content:flex-start;
    align-content:flex-start;
    border:$border;
    margin-top: 50px;
}

/*media queries mixins */
@mixin xs{
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        @content;
    } 
}

@mixin sm{
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        @content;   
    }
}

@mixin md{
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 880px) {
        @content;
    }
}

@mixin lg{
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        @content;
    }

}








html,body{
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    background-color: gainsboro;
    height:100%;
    box-sizing: border-box;
    text-decoration: none;
}



/*header style*/
nav{
    @include parent-flex(row, nowrap);
    background: linear-gradient(to right ,black, gray);
    padding-bottom: 0px;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    /*margin-bottom: 10%;*/

}
.logo{
    @include parent-flex(row, nowrap);
    justify-content: flex-start;
    width: 40%;
    margin: 5px 40px 0px 0px;
    border: $border;
    img{
        align-content: flex-start;
        width: 250px;
        height: 100%;
        padding: 0 10px 0 10px;
    }


}

.top-nav{
    @include parent-flex(row, wrap);
    list-style-type: none;
    border: $border;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 20px 0px 2px;
    letter-spacing: 2px;
    li{
        @include nav-item;
        justify-content: space-around;
        height: 50px;
        width: 70px;
        align-content: center;
        color: whitesmoke;
        border-bottom: 3px solid transparent; 
        /*transform: skewX(-20deg);*/
        border-right: 0.5px solid;
        border-right-color: lighten($border-color, 27%);
        padding: 0 3% 0 3%;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        /*border-left: 2px solid;
        border-left-color: lighten($border-color, 27%);*/
        a{
            border: $border;
            font-size: 12px; 
            @include lg{
                font-size: 18px; 
            }
            @include md{
                font-size: 16px; 
            }
            color: whitesmoke;
            color: white;
            text-decoration: none;
            padding: 0px 5px 0px 5px;
            /*transform: skewX(20deg);*/

        }

    }
    li:hover{
        background-color: lighten($border-color, 27%);
        a{
         color: #FFA864;   
        }

    }
    li:last-child{
        border-right: none;
        border-left-color: lighten($border-color, 27%);
 
    }

}
/*responsive menu classes*/
.dropDownNav{
    @include list-style;
    display: none;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 3px solid darkgray;
    border-radius: 4px;
    margin-right: 40px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 2px;
    
}

.columnNavShow{
    @include list-style;
    width: 100%;
    align-content: center;
    align-items:stretch;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0px;
    /*margin-right: -50%;*/
    background: linear-gradient(to right, black, gray);
    li{
        width: 100%;
        text-align: center;
    }
    li a{
        @include list-style;
        width: 400px;
    }
    
    li a:hover{
    font-weight: 800;
   }


}
.columnNavHide{
   display: none; 
}

.navButtonClicked{
    padding-top: 120px;
}

/*end: responsive menu classes*/
/*end: header style*/



.container{
    /*@include container;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height:90vh;
    @include lg{
            flex-direction: row;
            }
            @include md{
                font-size: 30px;

}
}

.container-left{
    /*@include container;*/
    width: 8%;
    display: none;
}
.container-center{
    @include container;
    width: 100%;
}

.container-right{
    
    /*@include container;
    width: 8%;
*/
}

.main-container{
    background: url(/img/backgrounds/snow.jpeg) no-repeat center center;
    background-size: cover;
    padding-top:50px;
    
}

.content{
    @include container;
    align-content:space-around;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.content-title{
    width: 70%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    padding: 20px 50px 30px 50px;
    color: #FFA864;
    font-size: 18px; 
            @include lg{
                font-size: 40px; 
            }
            @include md{
                font-size: 30px; 
            }
    text-shadow: 3px 0px 1px rgba(0, 0, 0, 1);

}
.price-container{
    @include container;
    align-content:center;
    justify-content: center;
    width: 100%;
    flex-direction: row;

    .price{
        @include side-bar; 
        background-color: white;
        align-content: space-between;
        justify-content: space-between;
        height: 50%;
        list-style-type: none;
        text-align: center;
        margin: 0 2.5% 0 2.5%;
        width:25%;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
        /*padding: 5px 5px 5px 5px;*/
        transition-duration: 10s;

        .price-item{
            width: 100%;
            /*padding: 5px 0px 5px 0px;*/
            height: 12.5%;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .price-item:nth-child(odd){
            font-size: 14px; 
            @include lg{
                font-size: 22px; 
            }
            @include md{
                font-size: 16px; 
            }
            background-color: grey;
            background: linear-gradient(to bottom ,white, lightgray);
        }
        .price-item:nth-child(even){
            font-size: 16px; 
            @include lg{
                font-size: 24px; 
            }
            @include md{
                font-size: 20px; 
            }
            $gradient: darken($right-nav-color, 10%);
            background: linear-gradient(to right top, $gradient, lighten($right-nav-color, 12%));
            color: white;
            text-shadow: 3px 0px 1px rgba(0, 0, 0, 1);
        }
        .price-item:nth-child(1){
            border-radius: 20px 20px 0px 0px;

        }
        .price-item:nth-child(1), .price-item:nth-child(2){
            $gradient: darken($right-nav-color, 30%);
            background: linear-gradient(to right, $gradient, lighten($right-nav-color, 10%));
            color: white;
            text-shadow: 3px 0px 1px rgba(0, 0, 0, 1);

        }

        .price-item:last-of-type{
            border-radius: 0px 0px 20px 20px;

        }

    }
}



.right-nav{   
    @include side-bar;
    flex-direction: row;
    @include lg{
        flex-direction: row;
        }
        @include md{
         flex-direction: column;
        }


    li{
        @include nav-item;
        justify-content: center;
        align-content: center;
        margin: 0px;
        width: 100%;
        height: 100px;
        font-size: 12px; 
        @include lg{
            font-size: 24px; 
        }
        @include md{
            font-size: 16px; 
        }
        border:$border;
        transition: margin-right .35s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


        a{
            @include nav-item;
            text-decoration: none;
            color: black;
            flex-direction: column;
            text-align: center;
        }
        img{
            width: 30px;
            height: 100%;
            @include lg{
                width: 50px; 
            }
            @include md{
                width: 40px; 
            }
        }

        @for $i from 1 through 3 {
            &:nth-child(#{$i})  {
                $gradient: lighten($right-nav-color, 9%*$i);
                background: linear-gradient(to right top, $gradient, $right-nav-color);
            }
        }

        @for $i from 4 through 6 {
            &:nth-child(#{$i})  {
                $gradient: lighten($right-nav-color, 15%*($i/3));
                /*background-color: darken($gradient, 9%*($i/3));*/
                background: linear-gradient(to right top, $gradient, $right-nav-color);
            }
        }
    }

    li:hover{
        opacity: 0.7;
        width: 100%;
        margin-right: 20%;

    }

}


.weather{
    @include side-bar;
    background: url(/img/backgrounds/weather2.jpg) no-repeat center center;
    background-size: cover;
    font-size: 12px; 
    @include lg{
        font-size: 22px; 
    }
    @include md{
        font-size: 16px; 
    }
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content:space-between;
    align-content:flex-start;
    color: white;
    height: 400px;
    padding: 7px;


    div{
        @include nav-item;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        width: 100%;
        .current-weather{
            @include nav-item;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            margin-top: 2px;
            border: 1px solid black;

        }
    }
    img{
        height: 25px;
        padding-right: 5px;
        @include lg{
            height: 40px;
        }
        @include md{
            height: 35px; 
        }
    }

}

.full-date{
    font-weight: 700;
}

.icon-and-temp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.temp{
    font-size: 14px; 
    @include lg{
        font-size: 26px; 
    }
    @include md{
        font-size: 20px; 
    }
}


/*index table*/
.lift-container{
    display: flex;
    align-content:space-around;
    justify-content: center;
    width: 100%;
    flex-direction:column;
}
.conditions{
 width: 40%; 
} 
.skilift{
 width: 95%; 
}
.conditions, .skilift{
    overflow: hidden;
    margin: 20px auto;
    box-sizing:border-box;
    img{
        height: 30px;
        width: auto;
    }
    tr,td,th{
        padding: 2px;
        text-align: center;
        font-size: 10px; 
    @include lg{
        font-size: 22px;
    }
    @include md{
        font-size: 18px;
        padding: 5px; 
    }
    }
    tr{

    }
    th{
        vertical-align: middle;
        $gradient: darken($right-nav-color, 30%);
        background: linear-gradient(to right, $gradient, lighten($right-nav-color, 10%));
        color: white;
        text-shadow: 3px 0px 1px rgba(0, 0, 0, 1);
        height: 100%;
    }
    td{
        background: linear-gradient(to bottom ,white, lightgray);
    }
}

/*gallery styles*/
#images{
    @include list-style;
    @include parent-flex(row, wrap);
    justify-content:center;
    width: 100%;
    align-content: space-around;
    align-items: flex-end;
    li{
        background-color: rgba(0, 0,0, 0.5);
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        
    }
    li:hover{
        transform: scale(1.1);
        background-color: rgba(255, 168, 100, 0.9);
        transition: transform 1s;
        cursor: pointer;
        
        
    }
}
.galleryImg{
        width: 16vw;
        height: 12vw;
     @include lg{
        width: 12vw;
        height: 10vw;
    }
    @include md{
        width: 12vw;
        height: 10vw;
    }
}
.gallery{
    display:block;
    width: 90%;

}
/*

.conditions th:nth-child(1){
    display:table-cell; 
    vertical-align:middle;
}
*/





