html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle; }

html, body {
  margin: 0px;
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
  text-decoration: none; }

body {
  min-width: 320px; }

/*header style*/
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  width: 100%;
  padding: 0%;
  margin-top: 0%;
  /*background: linear-gradient(to right ,black, gray);*/
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 0px;
  position: fixed;
  z-index: 1000;
  justify-content: space-between;
  /*margin-bottom: 10%;*/ }

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  width: 100%;
  padding: 0%;
  margin-top: 0%;
  justify-content: flex-start;
  width: 40%;
  margin: 5px 40px 0px 0px;
  border: 1ps solid black; }
  .logo img {
    align-content: flex-start;
    width: 150px;
    height: 100%;
    padding: 0 10px 0 10px;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */ }
    @media only screen and (min-width: 73em) {
      .logo img {
        max-width: 260px; } }
    @media only screen and (min-width: 50em) {
      .logo img {
        width: 230px; } }
  .logo:hover {
    cursor: pointer; }

.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  width: 100%;
  padding: 0%;
  margin-top: 0%;
  list-style-type: none;
  border: 1ps solid black;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 0px 2px;
  letter-spacing: 2px; }
  .top-nav li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
    width: 70px;
    align-content: center;
    border-bottom: 3px solid transparent;
    border-right: 0.5px solid;
    border-right-color: #999999;
    padding: 0 3% 0 3%; }
    .top-nav li a {
      border: 1ps solid black;
      font-size: 12px;
      /* Large Devices, Wide Screens */
      /* Medium Devices, Desktops */
      color: black;
      text-decoration: none;
      padding: 0px 5px 0px 5px; }
      @media only screen and (min-width: 73em) {
        .top-nav li a {
          font-size: 18px; } }
      @media only screen and (min-width: 50em) {
        .top-nav li a {
          font-size: 16px; } }
  .top-nav li:hover {
    background-color: #e85c3f; }
    .top-nav li:hover a {
      color: black; }
  .top-nav li:last-child {
    border-right: none;
    border-left-color: #454545; }

/*responsive menu classes*/
.dropDownNav {
  text-decoration: none;
  list-style-type: none;
  color: black;
  display: none;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border: 3px solid darkgray;
  border-radius: 4px;
  margin-right: 40px;
  box-sizing: content-box;
  cursor: pointer;
  margin: 2px; }

.columnNavShow {
  text-decoration: none;
  list-style-type: none;
  color: black;
  width: 100%;
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  right: 0px;
  background: rgba(255, 255, 255, 0.7); }
  .columnNavShow li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .columnNavShow li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    width: 100%; }
  .columnNavShow li:hover {
    font-weight: 800;
    background: #e75436; }

.columnNavHide {
  display: none; }

.navButtonClicked {
  padding-top: 120px; }

/*end: responsive menu classes*/
/*end: header style*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
  border: 1ps solid black;
  height: 100%;
  flex-direction: row; }

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
  border: 1ps solid black;
  height: 100%;
  width: 65%; }

.container-right {
  width: 15%;
  padding-right: 10px; }

.container-left {
  width: 15%;
  position: fixed;
  top: 0px;
  left: 5px; }

.main-container {
  background: url(/img/backgrounds/snow-1314590_1280.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  min-height: 90vh; }

.right-nav {
  padding-top: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border: 1ps solid black;
  text-decoration: none;
  list-style-type: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end; }
  .right-nav li {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    text-decoration: none;
    width: 100%;
    padding: 0%;
    margin-top: 0%;
    justify-content: flex-start;
    align-content: flex-start;
    border: 1ps solid black;
    margin-top: 50px;
    margin-top: 5px;
    padding: 3px;
    border-radius: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 4px solid rgba(0, 0, 0, 0.3);
    height: 60px;
    width: 60px;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */
    /* Small Devices, Tablets */ }
    @media only screen and (min-width: 73em) {
      .right-nav li {
        height: 120px;
        width: 120px; } }
    @media only screen and (min-width: 50em) {
      .right-nav li {
        height: 110px;
        width: 110px; } }
    @media only screen and (min-width: 46.8em) {
      .right-nav li {
        height: 90px;
        width: 90px; } }
    .right-nav li:hover {
      border: 4px solid #e75436; }
    .right-nav li a {
      text-decoration: none;
      list-style-type: none;
      color: black;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      flex-wrap: nowrap;
      text-decoration: none;
      width: 100%;
      padding: 0%;
      margin-top: 0%;
      justify-content: flex-start;
      align-content: flex-start;
      border: 1ps solid black;
      margin-top: 50px;
      text-align: center;
      flex-wrap: nowrap;
      margin-top: 0px;
      text-align: center;
      color: white;
      font-size: 9px;
      /* Large Devices, Wide Screens */
      /* Medium Devices, Desktops */
      /* Small Devices, Tablets */ }
      @media only screen and (min-width: 73em) {
        .right-nav li a {
          font-size: 22px; } }
      @media only screen and (min-width: 50em) {
        .right-nav li a {
          font-size: 16px; } }
      @media only screen and (min-width: 46.8em) {
        .right-nav li a {
          font-size: 12px; } }
    .right-nav li img {
      max-width: 16px;
      /* Large Devices, Wide Screens */
      /* Medium Devices, Desktops */
      /* Small Devices, Tablets */ }
      @media only screen and (min-width: 73em) {
        .right-nav li img {
          max-width: 40px; } }
      @media only screen and (min-width: 50em) {
        .right-nav li img {
          max-width: 30px; } }
      @media only screen and (min-width: 46.8em) {
        .right-nav li img {
          max-width: 25px; } }

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
  border: 1ps solid black;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 100%; }
  .content .content-title {
    margin: 20px 0px 20px 0px;
    text-align: center;
    padding: 20px 30px 20px 30px;
    color: #e75436;
    font-weight: 800;
    letter-spacing: 2px;
    /* Large Devices, Wide Screens */
    /* Small Devices, Tablets */
    text-shadow: 3px 0px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px; }
    @media only screen and (min-width: 73em) {
      .content .content-title {
        font-size: 35px; } }
    @media only screen and (min-width: 46.8em) {
      .content .content-title {
        font-size: 30px; } }

.price-container {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 2%;
  flex-direction: row; }
  .price-container .price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    text-decoration: none;
    width: 100%;
    padding: 0%;
    margin-top: 0%;
    justify-content: flex-start;
    align-content: flex-start;
    border: 1ps solid black;
    margin-top: 50px;
    background-color: white;
    align-content: space-around;
    justify-content: space-between;
    height: 180px;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */
    /* Small Devices, Tablets */
    list-style-type: none;
    text-align: center;
    width: 45%;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
    /*transition-duration: 10s;*/ }
    @media only screen and (min-width: 73em) {
      .price-container .price {
        height: 350px; } }
    @media only screen and (min-width: 50em) {
      .price-container .price {
        height: 350px; } }
    @media only screen and (min-width: 46.8em) {
      .price-container .price {
        height: 300px; } }
    @media only screen and (min-width: 73em) {
      .price-container .price {
        width: 30%; } }
    @media only screen and (min-width: 50em) {
      .price-container .price {
        width: 35%; } }
    .price-container .price .price-item {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 2px; }
    .price-container .price .price-item:nth-child(odd) {
      font-size: 10px;
      /* Large Devices, Wide Screens */
      /* Medium Devices, Desktops */
      background-color: grey;
      background: linear-gradient(to bottom, white, lightgray); }
      @media only screen and (min-width: 73em) {
        .price-container .price .price-item:nth-child(odd) {
          font-size: 22px; } }
      @media only screen and (min-width: 50em) {
        .price-container .price .price-item:nth-child(odd) {
          font-size: 16px; } }
    .price-container .price .price-item:nth-child(even) {
      font-size: 16px;
      font-weight: 800;
      /* Large Devices, Wide Screens */
      /* Medium Devices, Desktops */
      background: linear-gradient(to right top, #1a1a1a, #525252);
      color: #e75436; }
      @media only screen and (min-width: 73em) {
        .price-container .price .price-item:nth-child(even) {
          font-size: 26px; } }
      @media only screen and (min-width: 50em) {
        .price-container .price .price-item:nth-child(even) {
          font-size: 26px; } }
    .price-container .price .price-item:nth-child(1) {
      border-radius: 20px 20px 0px 0px;
      color: whitesmoke;
      font-weight: 800; }
    .price-container .price .price-item:nth-child(2) {
      color: #e75436; }
    .price-container .price .price-item:nth-child(1), .price-container .price .price-item:nth-child(2) {
      background: linear-gradient(to right, black, #4d4d4d); }
    .price-container .price .price-item:last-of-type {
      border-radius: 0px 0px 20px 20px; }

.weather {
  position: absolute;
  top: 20px;
  left: 0;
  background: url(/img/backgrounds/weather2.jpg) no-repeat center center;
  max-width: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  text-decoration: none;
  width: 100%;
  padding: 0%;
  margin-top: 0%;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1ps solid black;
  margin-top: 50px;
  background-size: cover;
  font-size: 10px;
  color: white;
  padding: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-content: center;
  padding: 7px;
  transition-duration: 0.5s;
  cursor: pointer; }
  @media only screen and (min-width: 73em) {
    .weather {
      font-size: 22px;
      height: 90px;
      width: 90px; } }
  @media only screen and (min-width: 50em) {
    .weather {
      font-size: 16px;
      height: 90px;
      width: 90px; } }
  .weather div {
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: 100%; }
    .weather div .current-weather {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 100%;
      margin-top: 2px;
      border: 1px solid black;
      transition: 2s; }
  .weather img {
    height: 25px;
    padding-right: 5px;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */ }
    @media only screen and (min-width: 73em) {
      .weather img {
        height: 40px; } }
    @media only screen and (min-width: 50em) {
      .weather img {
        height: 35px; } }

.name {
  color: white;
  font-weight: 800;
  height: 70px;
  text-align: center;
  z-index: 110; }
  .name img {
    padding-top: 15px;
    transform: scale(2);
    position: absolute;
    top: 50%;
    left: 37%;
    z-index: -100; }

/*show weather divs after click*/
.hideWeatherDivs {
  opacity: 0; }

.showWeatherDivs {
  opacity: 1;
  transition: opacity 1s; }

.slideOutWeatherDiv {
  opacity: 1;
  height: 80%;
  border-radius: 3px;
  background: url(/img/backgrounds/weather2.jpg) no-repeat center center;
  box-shadow: none; }

.full-date {
  font-weight: 700; }

.icon-and-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.temp {
  font-size: 10px;
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */ }
  @media only screen and (min-width: 73em) {
    .temp {
      font-size: 26px; } }
  @media only screen and (min-width: 50em) {
    .temp {
      font-size: 20px; } }

/*index table*/
.lift-container {
  overflow: hidden;
  display: flex;
  align-content: space-around;
  justify-content: center;
  width: 100%;
  flex-direction: column; }

.conditions {
  width: 40%; }

.skilift {
  width: 95%;
  overflow: hidden; }

.conditions, .skilift {
  overflow: hidden;
  margin: 20px auto;
  box-sizing: border-box; }
  .conditions img, .skilift img {
    height: 20px;
    width: auto;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */ }
    @media only screen and (min-width: 73em) {
      .conditions img, .skilift img {
        height: 30px;
        width: auto; } }
    @media only screen and (min-width: 50em) {
      .conditions img, .skilift img {
        height: 30px;
        width: auto; } }
  .conditions tr, .conditions td, .conditions th, .skilift tr, .skilift td, .skilift th {
    padding: 2px;
    text-align: center;
    font-size: 12px;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */ }
    @media only screen and (min-width: 73em) {
      .conditions tr, .conditions td, .conditions th, .skilift tr, .skilift td, .skilift th {
        font-size: 22px; } }
    @media only screen and (min-width: 50em) {
      .conditions tr, .conditions td, .conditions th, .skilift tr, .skilift td, .skilift th {
        font-size: 18px;
        padding: 5px; } }
  .conditions th, .skilift th {
    vertical-align: middle;
    background: linear-gradient(to right, black, #4d4d4d);
    color: #e75436;
    text-shadow: 3px 0px 1px black;
    height: 100%; }
  .conditions td, .skilift td {
    background: linear-gradient(to bottom, white, lightgray); }

/*gallery styles*/
#images {
  text-decoration: none;
  list-style-type: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  width: 100%;
  padding: 0%;
  margin-top: 0%;
  justify-content: center;
  width: 100%;
  align-content: space-around;
  justify-content: space-around; }
  #images li {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    margin: 5px; }
    #images li:after {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      height: 100%;
      left: 0;
      top: 37.5%;
      width: 0px;
      position: absolute;
      color: floralwhite; }
    #images li:hover {
      transform: scale(1.1);
      background-color: rgba(255, 168, 100, 0.9);
      transition: transform 1s;
      cursor: pointer; }
      #images li:hover:after {
        display: flex;
        align-items: center;
        justify-content: center;
        content: "BACA-SKI";
        width: 100%;
        height: 25%;
        text-align: center;
        font-size: 10px; }

/*gallery section styles*/
.galleryImg {
  width: 16vw;
  height: 12vw;
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */ }
  @media only screen and (min-width: 73em) {
    .galleryImg {
      width: 12vw;
      height: 10vw; } }
  @media only screen and (min-width: 50em) {
    .galleryImg {
      width: 12vw;
      height: 10vw; } }

.gallery {
  display: block;
  width: 90%; }

/*gallery section styles*/
/*contact section styles*/
.contact-container {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7); }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
  border: 1ps solid black;
  height: 100%;
  align-items: center;
  text-align: center;
  width: 50%; }

.map {
  width: 50%;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.skischool-container, .skirent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; }
  .skischool-container .skischool-item, .skirent-container .skischool-item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 220px;
    border: 4px solid rgba(138, 204, 20, 0.7);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: black; }
    .skischool-container .skischool-item span, .skirent-container .skischool-item span {
      padding: 10px; }
    .skischool-container .skischool-item span:first-child, .skirent-container .skischool-item span:first-child {
      font-size: 25px;
      color: #4b6f0b; }
    .skischool-container .skischool-item span:last-child, .skirent-container .skischool-item span:last-child {
      font-size: 32px;
      color: black; }
    .skischool-container .skischool-item:nth-child(4) span:last-child, .skirent-container .skischool-item:nth-child(4) span:last-child {
      font-size: 20px; }
    .skischool-container .skischool-item:hover, .skirent-container .skischool-item:hover {
      border: 4px solid #8acc14; }

.skirent-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */
  border: 4px solid rgba(0, 79, 255, 0.7);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: black; }
  @media only screen and (min-width: 73em) {
    .skirent-item {
      width: 220px;
      height: 220px;
      font-size: 16px; } }
  @media only screen and (min-width: 50em) {
    .skirent-item {
      width: 200px;
      height: 200px;
      font-size: 12px; } }
  .skirent-item span {
    padding: 5px;
    font-size: 20px; }
  .skirent-item span:first-child {
    font-size: 22px;
    color: #002f99; }
  .skirent-item:hover {
    border: 4px solid #004fff; }

.camera-container {
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: center; }
  .camera-container img {
    height: 50%;
    width: 50%;
    padding: 30px; }

.firstpage-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.firstpage-image {
  padding: 10px;
  height: 300px;
  min-height: 300px;
  width: 50%;
  background: url(/img/galleryImg/wyciagbaca15.jpg) no-repeat center center;
  background-size: cover; }
  .firstpage-image img {
    width: 100%; }

.firstpage-content {
  height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8); }
  .firstpage-content .firstpage-title {
    font-size: 16px;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */
    /* Small Devices, Tablets */ }
    @media only screen and (min-width: 73em) {
      .firstpage-content .firstpage-title {
        font-size: 25px; } }
    @media only screen and (min-width: 50em) {
      .firstpage-content .firstpage-title {
        font-size: 18px; } }
    @media only screen and (min-width: 46.8em) {
      .firstpage-content .firstpage-title {
        font-size: 16px; } }
  .firstpage-content .firstpage-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    /* Large Devices, Wide Screens */
    /* Medium Devices, Desktops */ }
    @media only screen and (min-width: 73em) {
      .firstpage-content .firstpage-items {
        font-size: 23px; } }
    @media only screen and (min-width: 50em) {
      .firstpage-content .firstpage-items {
        font-size: 18px; } }
    .firstpage-content .firstpage-items img {
      margin-right: 10%;
      width: 8%; }

/*contact section styles*/

/*# sourceMappingURL=style.css.map */
